@media(max-width:575px){
    .hei{
        height: 43vw;
    }
    .fe{
        font-size: 13px;
    }
}
@media(min-width:576px){

}
@media(min-width:768px){

	
}
@media(min-width:992px){
    .hei{
        height: 300px;
    }
}
@media(min-width:1200px){

}
@media(min-width:1400px){

}