.hei{
    height: 300px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.head-after{
    background-color: rgba(0, 0, 0 , 0.8)!important;
    position: sticky!important;
    top:-2px!important;
}

@media(max-width:575px){
    .hei{
        height: 43vw;
    }
    .fe{
        font-size: 13px;
    }
}